@use '../sass/abstracts/mixins';
@use '../sass/abstracts/vars';

.btn {
    margin: 0;
    background-color: vars.$color_green;
    color: white; 
    font-weight: bold;
    font-family: vars.$font_secondary; 
    text-transform: uppercase;
    border: 0;
    padding: .5rem 1rem;
    transition: all .5s; 
    text-decoration: none;
    display: inline-block; 
    &:hover {
        background-color: darkgreen;
        cursor: pointer;
    }
    
}

.primary {
    background-color: blue;
}

.secondary {
    background-color: purple;
}